{% extends "plantmas.html" %}
{% load staticfiles %}
{% block titulo %} Detalles {% endblock %}
{% block contenido %}

<div class="single contact">
		<div class="container">
			<div class="single-main">
				{% for prod in producto %}

                <div class="col-md-9 single-main-left">
				<div class="sngl-top">
					<div class="col-md-5 single-top-left">
						<div class="flexslider">
							  <ul class="slides">
								<li data-thumb="images/s-1.jpg">
									<div class="thumb-image"> <img src="{{ prod.docfile.url }}" data-imagezoom="true" class="img-responsive" alt=""/> </div>
								</li>

							  </ul>
						</div>
						<!-- FlexSlider -->
						<script src="{% static 'js/imagezoom.js' %}"></script>
						<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
						<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />

						<script>
						// Can also be used with $(document).ready()
						$(window).load(function() {
						  $('.flexslider').flexslider({
							animation: "slide",
							controlNav: "thumbnails"
						  });
						});
						</script>
					</div>
					<div class="col-md-7 single-top-right">
						<div class="single-para simpleCart_shelfItem">
						<h2>{{prod.nombre}}</h2>

							<h5 class="item_price">$ {{prod.precio}}</h5>
							<p>{{prod.descripcion}}</p>

							<ul class="tag-men">
								<li><span>categoria</span>
								<span class="women1">{{prod.categorias.nombre}}</span></li>

							</ul>
							<form action="/comprobar/" method="POST" >{% csrf_token %}
								<input type="hidden" name="idp" value="{{prod.id}}">
								<input type="number" value="o" min="1" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="currency" id="c1" name="num" required/><br>
							<button type="submit" class="btn btn-primary">Añadir</button>
							</form>
						</div>
					</div>
                    </div>
                    </div>
                {% endfor %}
                </div>
            </div>
    </div>
{% if messages %}
mel
{% endif %}

{% endblock %}
{% block footer %}

{% endblock %}